h1, h2, h3, h4, h5, h6 {
  text-transform: none !important;
}

.main-menu a .fa {
  font-size: 19px;
  width: 17px;
}

#product {
  padding-top: 200px;
}
#product .agency.pricing .price-container.shadows {
  box-shadow: none;
  border: 0;
  border-radius: 0;
}

#product .pricing.agency .price-container .price-feature-container {
  padding: 10px;
}

#product .pricing .price-container .price-feature-container .feature-text {
  padding: 0 0 30px 0;
}


@media only screen and (max-width: 1440px) {
  #product {
    padding-top: 120px;
  }
}

@media only screen and (max-width: 991px) {
  .wedding .simple-text {
      background-color: rgba(255, 255, 255, 0.7) !important;
  }
  #product {
    padding-top: 30px;
  }

  #product .pricing .price-container .price-feature-container .feature-text {
    padding: 0 0 20px 0;
  }

  #product .pricing .price-container .price-feature-container .price-value {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 575px) {
  #product .pricing .feature-text {
      margin-bottom: 0px;
  }
  .carousel .slide iframe {
    width: calc(100%) !important;
    margin: 40px 0 !important;
  }
}
.saas1.faq .faq-block .accordion .accordion-item .title {
  color: #c0882f !important;
}

.carousel {
  .control-arrow, .carousel.carousel-slider .control-arrow {
    opacity: unset !important;
  }
  .thumbs-wrapper {
    .control-arrow {
      display: none;
    }
  }
  .control-next.control-arrow:before {
    border-left: 8px solid var(--primary) !important;
  }

  .control-prev.control-arrow:before {
    border-right: 8px solid var(--primary) !important;
  }
  .thumb.selected, .thumb:hover {
    border: 3px solid var(--primary) !important;
  }
  .control-dots {
    list-style: none;
    
    .dot {
      font-size: 10px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      opacity: 1;
      background: linear-gradient(#ecc878, #bf862d) !important;
      box-shadow: unset !important;
    }

    .dot.selected {
      width: 40px;
      height: 10px;
      border-radius: 30px;
    }
  }
  
  .thumbs {
    list-style: none;
  }
}