@import "bootstrap-scss";
@import "react-toastify/dist/ReactToastify.css";

@import "../public/assets/scss/app.scss";

// Global CSS Variables for Croko theme
:root {
  --primary: #c0882f;
  --secondary: #595959;
  --light: #BF862D;
  --dark: #ECC878;
}